.rightNav {
  align-self: flex-start;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  row-gap: 4rem;
  padding: 1rem 3rem;
}

.search {
  width: 100%;
}

.searchBar {
  position: relative;
  display: flex;
  background-color: var(--secondary-background-color);
  width: 100%;
  align-items: center;
  border-radius: 1rem;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchedProfiles {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.searchIcon {
  position: absolute;
  margin-left: 1rem;
}

input[type="search"] {
  width: 100%;
  background-color: var(--secondary-background-color);
  height: 2rem;
  padding-left: 3rem;
  border-radius: 1rem;
  color: var(--text-color);
}

.whoToFollow {
  width: 100%;
  background-color: var(--secondary-background-color);
  border-radius: 2rem;
  padding: 1rem 3rem 3rem 3rem;
  display: flex;
  justify-content: center;
  row-gap: 1rem;
  flex-direction: column;
}

.whoToFollowTitle {
  font-size: larger;
  font-weight: 600;
}

.avatarAndName {
  display: flex;
  column-gap: 10px;
}

.name {
  display: flex;
  flex-direction: column;
}

.name > p {
  margin: 0;
}

.followBtn {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
}

@media screen and (max-width: 1200px) {
  .rightNav {
    display: none;
  }
}
