.top {
  border-bottom: 3px solid var(--secondary-background-color);
  display: flex;
  flex-direction: column;
  padding: 0 2rem 1rem 2rem;
}

.title {
  font-size: x-large;
  font-weight: 600;
  margin-top: 0;
}

.avatarAndInput {
  display: flex;
  column-gap: 2rem;
}

.whatHappening {
  font-size: larger;
  background-color: var(--primary-background-color);
  border: none;
  outline: none;
  color: var(--primary-text-color);
  width: 100%;
}

.post {
  border-bottom: 3px solid var(--secondary-background-color);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.postContent {
  color: var(--primary-text-color);
  display: flex;
  column-gap: 2rem;
}

.postContent > div > p {
  margin: 0;
}

.text {
  padding-top: 1rem;
}

.postBtn {
  background-color: var(--link-dark-color);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  width: min-content;
  font-size: medium;
  color: var(--primary-text-color);
  align-self: flex-end;
}

.postBtn:hover {
  background-color: var(--link-light-color);
}
.actions {
  display: flex;
  justify-content: space-around;
  color: var(--secondary-text-color);
}

.actions:hover {
  cursor: pointer;
}

.action {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

.fillColor {
  color: var(--primary-text-color);
}
