.top {
  border-bottom: 3px solid var(--secondary-background-color);
  overflow: hidden;
}

.title {
  font-size: x-large;
  font-weight: 600;
  margin-top: 0;
  padding-left: 2rem;
}

.profileBanner {
  object-fit: contain;
  z-index: -1;
}

.profilePic {
  height: 6rem;
  width: 6rem;
  object-fit: cover;
  border-radius: 99rem;
  margin-left: 2rem;
  margin-top: -3rem;
}

.topContent {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 0rem 2rem;
}

.nameAndEditBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editBtn {
  background-color: var(--link-dark-color);
  color: var(--primary-text-color);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-weight: 550;
}

.editBtn:hover {
  background-color: var(--link-light-color);
}

.topContent > p {
  margin: 0;
}

.userWebsite {
  color: var(--link-dark-color);
}

.numbers {
  padding-bottom: 1rem;
}

.post {
  border-bottom: 3px solid var(--secondary-background-color);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.postContent {
  color: var(--primary-text-color);
  display: flex;
  column-gap: 2rem;
}

.postContent > div > p {
  margin: 0;
}

.text {
  padding-top: 1rem;
}

.postBtn {
  background-color: var(--link-light-color);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  width: min-content;
  font-size: medium;
  color: var(--primary-text-color);
  align-self: flex-end;
}

.share:hover {
  background-color: var(--link-dark-color);
}
.actions {
  display: flex;
  justify-content: space-around;
  color: var(--secondary-text-color);
}

.actions:hover {
  cursor: pointer;
}

.fillColor {
  color: var(--primary-text-color);
}
