.modal {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  min-height: 45%;
  max-width: 35rem;
  border-radius: 1rem;
  background-color: var(--background-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 3;
  pointer-events: initial;
  row-gap: 1rem;
}

.top {
  display: flex;
  justify-content: space-between;
}

.close:hover {
  cursor: pointer;
}

.name {
  display: flex;
  column-gap: 1rem;
  justify-content: space-between;
}

.name div {
  flex-grow: 1;
}

.modal input,
.modal textarea {
  border-radius: 0.5rem;
  height: 2rem;
  display: block;
  width: 100%;
}

.modal textarea {
  height: 3rem;
}

.modal button {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: var(--link-dark-color);
  color: var(--text-color);
  font-weight: 550;
}
