/* .post {
  border-bottom: 3px solid var(--secondary-background-color);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
} */

/* .avatarAndInput {
  display: flex;
  column-gap: 2rem;
  align-items: center;
} */

.postBtn {
  background-color: var(--link-light-color);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  width: min-content;
  font-size: medium;
  color: var(--primary-text-color);
  align-self: flex-end;
}

.share:hover {
  background-color: var(--link-dark-color);
}
.actions {
  display: flex;
  justify-content: space-around;
  color: var(--secondary-text-color);
}

.actions:hover {
  cursor: pointer;
}

.profilePic {
  height: 3rem;
  width: 3rem;
  object-fit: cover;
  border-radius: 999rem;
}

.fillColor {
  color: var(--primary-text-color);
}
