.title {
  font-size: x-large;
  font-weight: 600;
  margin: 0 0 2rem 2rem;
}

.post {
  border-bottom: 3px solid var(--secondary-background-color);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.postContent {
  color: var(--primary-text-color);
  display: flex;
  column-gap: 2rem;
}

.postContent > div > p {
  margin: 0;
}

.text {
  padding-top: 1rem;
}

.actions {
  display: flex;
  justify-content: space-around;
  color: var(--secondary-text-color);
}

.actions:hover {
  cursor: pointer;
}

.action {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

.fillColor {
  color: var(--primary-text-color);
}
