/* @import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

:root {
  --sidebar-background-color: #1b2530;
  --background-color: black;
  --secondary-background-color: rgb(22, 27, 31);
  --primary-text-color: white;
  --secondary-text-color: rgb(113, 118, 123);
  --link-dark-color: #1f80e0;
  --link-light-color: #3bb2f6;
  --text-style: "Ubuntu", sans-serif;
}

* {
  box-sizing: border-box;
  font-family: var(--text-style);
}

main {
  display: flex;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  min-height: 100vh;
}

button:hover {
  cursor: pointer;
}

.content {
  font-family: var(--text-style);
  border-right: 3px solid var(--secondary-background-color);
  width: 45%;
  display: flex;
  flex-direction: column;
  border-left: 3px solid var(--secondary-background-color);
  padding-top: 1rem;
}

.lightText {
  color: var(--secondary-text-color);
}

a {
  text-decoration: none;
}

.profilePic {
  height: 3rem;
  width: 3rem;
  object-fit: cover;
  border-radius: 9999rem;
}

textarea {
  resize: none;
}

@media screen and (max-width: 750px) {
  .content {
    flex-grow: 1;
  }
}
